<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceb1df">  <td>21/05/20 23:50:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="survey.survey()[pri:0, instance:Test.Test.survey@1e6454ec]">survey</td> 
  <td>main@1424082571</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>21/05/20 23:50:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="survey.survey()[pri:0, instance:Test.Test.survey@1e6454ec]">survey</td> 
  <td>main@1424082571</td>   <td></td> </tr>
</table>
